/* applies to everything */
:root {
  --primary:#b19cd9; /* deines primary as light purple*/
}
/*Start of navigation Section */
/*applies to all nav*/
nav {
    background-color: darkslategray; /* Makes color Grey */
    height: 85px; /* Makes Height 85px */
    display: flex; /* Makes all items flex*/
    justify-content: space-between; /* adds space inbetween all items*/
    flex-wrap: wrap; /* Makes all items wrap*/
}
/* applies to all h1 within divs within nav */
nav div h1{
    font-size: 40px; /* Makes the font size 40px*/
    color:darkslategray; /* Makes the color Dark Grey */
    position:relative;/* makes item's position relative to the item it's withing*/
    top:-35px;/* moves item up 35px*/
    left:-5px; /* Moves item to the left 5px*/
}
/*applies to all with the nav-name class*/
.nav-name {
    display: flex;  /* makes the items withing flexible*/
    height: 50px; /* makes the hight 50px*/
    width: 325px; /* makes the width 25%*/
    background-color: var(--primary); /* makes the background purple*/
    margin-top: 15px; /* adds a margin of 15px to the top*/
    justify-content: right; /*distributes the content on the right side*/
}
/* applies to all with the class nav-links*/
.nav-links {
    width: 300px; /* makes the width 20% */
    font-size:20px; /* makes the font size 20px */
    justify-content: space-between; /* distributes all content so it as even space between them. */
    padding: 30px 10px; /* adds padding of 30px to top and bottom and 10px to left and right */
}
/*applies to all a withing the nav-links class*/
.nav-links a {
    color:var(--primary); /* makes items purple*/
    border-bottom: solid var(--primary); /* adds a solid purple border to the bottom */
    text-decoration: none; /* reestablishes text decorations as none*/
}

/*end of the navigation section*/
img {
    width: 10%; /* makes the width of the image 10%*/
    height:5%; /* makes the height of the image 5% */
}
/* Start of the Hero Secgtion */
/* applies to all with the hero class */
.hero {
    height: 250px; /* height is 250px*/
    background: rgb(81,0,250); /*establishes the background as purple*/
    background: linear-gradient(90deg, rgba(81,0,250,1) 0%, rgba(177,156,217,1) 50%, rgba(255,134,0,1) 100%); /* makes the background a gradient*/
    display: flex;/* allows child elements to flex*/
    justify-content: right; /* distrubutes the content to the right side*/
}
/* applies to all divs within the hero class*/
.hero div{
    background: var(--primary);/* background color is purple*/
    height: 50px;/*height is 50px*/
    position: relative; /* makes position relative to parent eleement*/
    top: 100px;/* adds 100px to top*/
    right:80px; /* adds 80 px to right side*/
}
/*applies to all p elements in the hero class*/
.hero p {
    position:relative;/*makes the position relative to the parent element*/
    font-size: 40px;/* font size is 40 px*/
    top: -40px;/*subtracts 40 px from the top*/
}
/*end of hero section */
